---
import {GESTURE_NAME_LIST} from "../../lib/constants.ts";
import {currentExperimentId, selectedGesture} from "../../lib/old/state.ts";
import {and, db, eq, experimentRuns, experiments, isNotNull} from "astro:db";

const props = Astro.props

const experiment = currentExperimentId.value
const finishedGestures = !experiment ? [] : (await db.select().from(experimentRuns).where(and(eq(experimentRuns.experimentId, experiment), isNotNull(experimentRuns.endTime)))).map(r => r.gesture)
---
<div class="w-full grid grid-cols-3 gap-2 border border-gray-800 rounded p-4 h-full overflow-y-scroll" id="gesture-selection" {...props}>
  {GESTURE_NAME_LIST.map(gesture => (
      <button
          class={[
            "flex items-center justify-between px-1 py-0.5 rounded cursor-pointer text-start text-sm",
            finishedGestures.includes(gesture) && "bg-green-100 text-green-900",
            selectedGesture.value === gesture && "border-2 border-green-600"
          ].filter(Boolean).join(" ")}
          hx-post="/api/experiment/select-gesture"
          hx-include="this"
          hx-swap="outerHTML"
          hx-target="#gesture-selection"
          name="gesture"
          value={gesture}
          id={`gesture-count-${gesture}`}
      >
      <span class="font-medium">{gesture}</span>
    </button>
  ))}
</div>