---
const { isRecording, disabled, ...props } = Astro.props

const className = isRecording ? "bg-red-500" : "bg-green-300";
const buttonText = isRecording ? "Stop" : "Start";
const id = isRecording ? "stop-recording-btn" : "start-recording-btn";
---
<button
    hx-post="/api/config/make-recording"
    hx-swap="outerHTML"
    {...props}
    id={id} class="h-10 w-full cursor-pointer disabled:cursor-not-allowed disabled:opacity-50"
    class:list={[className]} disabled={disabled}
>
  {buttonText}
</button>