---
import "../styles/global.css"
import "../knob/connection.ts"
interface Props {
  title?: string;
}

const { title = "Datensammlung" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link
        rel="icon"
        type="image/svg+xml"
        href="/favicon.svg"
    />
		<meta
        name="viewport"
        content="width=device-width"
    />
		<meta
        name="generator"
        content={Astro.generator}
    />
		<title>{title}</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"/>
  </head>
	<body class="p-8 h-screen">
    <slot />
	</body>
</html>